body {
    box-sizing: border-box;
    margin: 0px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 8px 0px 8px;
    position: sticky;
    top: 0px;
    background-color: white;
}

.logo {
    height: 31px;
    width: 90px;
}

.input-border{
    border: 1px;
    border-color: rgba(94, 94, 97, 0.2);
    border-style: groove;
    padding: 5px;
    border-radius: 50px;
    width: 650px;
}

.icon { 
    margin-left: 10px;
    margin-right: 10px;
    color: #656eee;
}

.icon-right{
    margin-right: 0px;
}

.input-field{
    border: 0px;
    font-size: 16px;
    height: 30px;
    width: 83.5%;
    padding-left: 15px;
}

.input-field:focus{
    outline: none;
}
.someSpace{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.dis-padding{
    padding: 12px;
}

.dis-padding-2{
    padding-right: 34px;
}

.letter-color{
    background-color: #e04949;
    border-radius: 50%;
    color: white;
    text-align: center;
    height: 14px;
    width: 14px;
    font-weight: bolder;
}

.far-right{
    margin-left: auto;
}

.more-space{
    padding: 0px 20px;
}
ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding-left: 135px;
    width: 670px;
}
ul li {
    padding: 15px 15px 0px 15px;
}

nav{
    border-bottom-width: 1px;
    border-bottom-style: groove;
    border-bottom-color: rgb(10,10,10,0.1);
    padding-bottom: 15px;
}

.div-left-padding{
    padding-left: 150px;
    width: 650px;
}

.meta-don{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.meta-don p {
    margin: 0px;
}

.meta-don i{
    padding: 0px 3px;
}

section h2 {
    margin: 5px 0px;
    font-weight: lighter;
}

section h2 a {
    text-decoration: none;
}

section{
    margin: 20px 0px 30px 0px;
}

.grid-style{
    display: grid !important;
    padding: 0;
    grid-template-columns: auto auto;
    font-size: 15px;
    font-weight: bold;
}
.grid-style li {
    padding: 10px 0;
}
.grid-style li a{
    text-decoration: none;
}

.flex-foot{
    display: flex;
    padding-left: 150px;
    height: 45px;
}

.flex-foot ul {
    padding-left: 0px;
}

.flex-foot ul li{
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 16px
}

.lil-adjust{
    padding: 0px 0px 0px 10px;
    width: 400px;
}
footer{
    background-color: #afaaaa33;
}
footer ul li {
    padding-top: 0px;
}
footer nav{
    padding-top: 7px;
    padding-bottom: 10px;
    border-top: 1px groove;
    border-color: rgba(10,10,10,0.1);
}

.gooogle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gooogle i {
    padding-left: 10px;
}

.pag{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-left: 0;


}

.pag li {
    padding: 0px 6px;
    position: relative;
    left: 30%;
    color: #656eee;
}